@font-face {
  font-family: 'dkLongreach'; /* set name */
  src: url(game-page-assets/DK_Longreach.otf); /* url of the font */
}

body {
    background-image: url('game-page-assets/Blurred-Background-With-Teeth.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh; /* fill the screen so align-items can center vertically */
    margin: 0; 
}

body.no-scroll {
    overflow: hidden;
}


.containerDesign {
  background-image: url('game-page-assets/EndScreenPopUp.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  width:85vw;
  max-height: 85vw;
  aspect-ratio: 16 / 9;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "spaceL stars spaceR"
    "stat1 score stat2"
    "footerL buttons footerR";
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 5fr 4fr 4fr 2fr 1fr;
  gap: 5px;
  /* padding: 0 10%; */

  max-width: 75vw;
  height: 90%;
  /* max-height: 80vh; */
  margin: auto;

  font-size: 1.5vw;

}

.container > div {
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* padding: 10px; */

  
}
.container > div.header {
  grid-area: header;
  width: auto;
  height: auto;
  margin: auto;
}
.container > div.spaceL {
  grid-area: spaceL;
  width: auto;
  height: auto;
  margin: auto;
}
.container > div.spaceR {
  grid-area: spaceR;
  width: auto;
  height: auto;
  margin: auto;
}
.container > div.stars {
  grid-area: stars;
  width: auto;
  height: auto;
  margin: 0 0 0 0;
}
.container > div.stat1 {
  grid-area: stat1;
  width: auto;
  height: auto;
  margin: auto;

  /* font-size: 40px;
  font-weight: bold;
  color: #4CAF50;
  text-transform: uppercase;
  font-family: Arial, sans-serif; */
}
.container > div.stat2 {
  grid-area: stat2;
  width: auto;
  height: auto;
  margin: auto;
}
.container > div.score {
  grid-area: score;
  width: auto;
  height: auto;
  margin: auto;
}
.container > div.footerL {
  grid-area: footerL;
  width: auto;
  height: auto;
  margin: auto;
}
.container > div.footerR {
  grid-area: footerR;
  width: auto;
  height: auto;
  margin: auto;
}
.container > div.buttons {
  grid-area: buttons;
  width: auto;
  height: auto;
  margin: auto;
}

.button{
    background-color: #90D3C9;
    color: #12263B;
    border: 4px;
    text-align: center;
    white-space: nowrap;
    border-radius: 8px;
    padding: 8px;
}

.stars{
     white-space: nowrap;
     height: 10vw;
     max-height: 10vh;
     margin: auto;
     /* align-self: left; */
}

/* .resultBox{
    width: 80vw;
    height: 80vh;
    margin: auto;
    background-color: #22A693;
    border-radius: 4px;
} */

/* .square {
  height: 90%;
  width: 50%;
  float: right;
  margin: 5%;
  background-color: #555;
  border-radius: 8px;

} */
/* .points, .timer {
    position: relative;
    display: inline-block;
    text-align: center;
    flex-shrink: 0;
}

.points img, .timer img {
    display: block;
    position: relative;
}

.points-text {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: rotate(-15deg);
    color: #fff;
    font-family: 'dkLongreach';
    font-size: 2.5rem;
    text-align: center;
}

.timer-text {
    position: absolute;
    top: 30%;
    left: 90.5%;
    color: #fff;
    font-family: 'dkLongreach';
    font-size: 3.5rem;
    text-align: center;
} */