@font-face {
  font-family: 'dkLongreach'; /* set name */
  src: url(game-page-assets/DK_Longreach.otf); /* url of the font */
}

body {
    background-image: url('game-page-assets/Background-With-Teeth.png');
    min-width: 50vw;
    max-width: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

#header {
    display: flex;
    align-items: top;
    flex-wrap: nowrap;
    max-width: 90vw;
}

#points, #timer {
    position: relative;
    display: inline-block;
    text-align: center;
    flex-shrink: 0;
}

#countdown {
    color: #fff;
    font-family: 'dkLongreach';
    margin-top: 75px;
    font-size: 10rem;
    text-align: center;
    height: 200px;
}

#points img, #timer img {
    display: block;
    position: relative;
}

#timer img {
    max-width: 80vw;
}

#points-text {
    position: absolute;
    min-width: 50px;
    top: 105px;
    left: 100px;
    transform: rotate(-15deg);
    color: #fff;
    font-family: 'dkLongreach';
    font-size: 2rem;
    text-align: center;
}

#timer-text {
    position: absolute;
    top: 15%;
    left: 91%;
    color: #fff;
    font-family: 'dkLongreach';
    font-size: 3vw;
    text-align: center;
}

#tooth-1 {
    position: absolute;
    left: 26.2%;
    bottom: 12%;
}

#tooth-2 {
    position: absolute;
    left: 60.5%;
    bottom: 12%;
}