* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertical centering */
    align-items: center;     /* horizontal centering */
    background: url('game-page-assets/Start Screen Background.png') center/cover no-repeat;
}

#settings {
    width: 100vw;
    cursor: not-allowed;
    margin-top: -8vh;  /*negative margin to bring elems closer */
}

 #logo {
    width: 98vw;
    margin-top: -95vh;      
}

#button {
    width: 28vw;
    cursor: pointer;
    margin-top: -28vh;  
}
