* {
    background-color: #12263B;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    height: 100vh;       
    margin: 0;
}

h1 {
    color: white;
    font-size: 128px;
    align-content: center;
    text-align: center;
}

a {
    color: #90D3C9;
    background-color: #153247;
    padding: 1.5vw 6vh;
    text-decoration: none;
    border: 4px solid #90D3C9;
    border-radius: 4px;
    font-size: x-large;
    position: static;
}