@font-face {
  font-family: 'dkLongreach';
  /* set name */
  src: url(game-page-assets/Longreach-Regular.otf);
  /* url of the font */
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: black;
}

#viewport {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: black;
}

#tutorial-root {
  position: absolute;
  overflow: hidden;
}

/* #tutorial-root video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
} */

#bg-video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#gums-tutorial {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  object-fit: contain;
}

#top-gums {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    object-fit: contain;
}

#teeth {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: flex-end;
  justify-content: center;

  z-index: 2;
}

#teeth canvas {
  flex: 0 0 auto;
  /* width: 30vw; */
  aspect-ratio: 1 / 1;

  /* outline: 2px solid red; */
}

#teeth #tooth-3 {
  flex: 0 0 auto;
  width: 55vh;
  max-width: 550px;
  height: auto;
  transform: translateX(18.5%) translateY(-19.5%);
}

#instructions {
  position: absolute;
  width: 100%;
  text-align: center;
  font-family: 'dkLongreach', sans-serif;
  font-size: 3.2rem;
  color: white;
  z-index: 4;
}

/* #tutorial-video-1 {
  position: absolute;
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}

#tutorial-video-2 {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: auto;
  object-fit: cover;
}

#tutorial-video-3 {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: auto;
  object-fit: cover;
} */

#header {
  display: flex;
  align-items: top;
  flex-wrap: nowrap;
  max-width: 100vw;
}


#homeButton img,
#skipButton img {
  width: 2rem;
}


#footer {
  position: fixed;
  bottom: 2vh;
  right: 2vw;
  z-index: 20;
}

#buttons {
  display: flex;
  gap: .2rem;
}