@font-face {
  font-family: 'dkLongreach'; /* set name */
  src: url(game-page-assets/DK_Longreach.otf); /* url of the font */
}

body {
    background-image: url('game-page-assets/Background-With-Teeth.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.header {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.points, .timer {
    position: relative;
    display: inline-block;
    text-align: center;
    flex-shrink: 0;
}

.points img, .timer img {
    display: block;
    position: relative;
}

.points-text {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: rotate(-15deg);
    color: #fff;
    font-family: 'dkLongreach';
    font-size: 2.5rem;
    text-align: center;
}

.timer-text {
    position: absolute;
    top: 30%;
    left: 90.5%;
    color: #fff;
    font-family: 'dkLongreach';
    font-size: 3.5rem;
    text-align: center;
}